@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(28, 28, 30);
    color: rgb(188, 188, 186);
  }

  hr {
    border-top-color: rgba(188, 188, 186, 0.2);
  }

  a:link {
    color: DodgerBlue;
  }

  a:visited {
    color: RoyalBlue;
  }

  a:hover {
    color: SteelBlue;
  }

  figure img {
    filter: invert(90%);
    border: 1px solid black;
  }
}

@media (min-width: 576px) {
  p {
    text-align: justify;
    text-justify: inter-word;
  }
}

body {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.thumb {
  margin-right: -20px;
  margin-bottom: 10px;
}

.thumb > img {
  width: 100%;
}

abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-decoration: none !important;
}

.abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
