body {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.thumb {
  margin-right: -20px;
  margin-bottom: 10px;
}

.thumb > img {
  width: 100%;
}

abbr {
  font-size: smaller;
  font-variant: small-caps;
}

.abbr {
  font-size: smaller;
  font-variant: small-caps;
}
