@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(28, 28, 30);
    color: white;
  }
}

@media (min-width: 576px) {
  p {
    text-align: justify;
    text-justify: inter-word;
  }
}

body {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.thumb {
  margin-right: -20px;
  margin-bottom: 10px;
}

.thumb > img {
  width: 100%;
}

abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-decoration: none !important;
}

.abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
