@font-face {
  font-family: "_FuturaBook";
  src: url(../fonts/futura_book.ttf);
}

@font-face {
    font-family: "_FuturaMedium";
    src: url(../fonts/futura_medium.ttf);
}

@font-face {
    font-family: "_FuturaLight";
    src: url(../fonts/futura_light.ttf);
}

body {
  font-family: "_FuturaBook" !important;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h1, h2, h3 {
  font-family: "_FuturaLight" !important;
}

h4, h5, h6, b, strong, th {
  font-family: "_FuturaMedium" !important;
}

a.plain-black {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.thumb {
  margin-right: -20px;
  margin-bottom: 10px;
}

.thumb > img {
  width: 100%;
}
