{% for pub in include.list reversed %}
<p>
  <strong>{{pub.title}}</strong><br>
  {% for author in pub.equal-authors %}
    {{author}}<sup>*</sup>{% unless forloop.last %}, {% elsif pub.other-authors %}, {% endunless %}
  {% endfor %}
  {% for author in pub.other-authors %}
    {{author}}{% unless forloop.last %}, {% endunless %}
  {% endfor %}<br>
  {{pub.status}}<br>
  {% for linkh in pub.links %}
    {% for link in linkh %}
      [<a href="{{link[1]}}">{{link[0]}}</a>]
    {% endfor %}
  {% endfor %}
</p>
{% endfor %}
<p class="small"><sup>*</sup> Equal contribution</p>
