---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="{% if page.title == '404' %}https://jkoushik.me/{% endif %}assets/main.css">
</head>
<body>
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-8">

<h1 id="title">
  <small aria-disabled="true" id="theme-switch" class="d-block d-sm-inline text-right float-sm-right mb-n2 mt-n3 my-sm-auto ml-sm-1"></small>
  {{page.title}}
  <br>
  <small>{{page.subtitle}}</small>
</h1>

{{content}}

</div>
</div>
</div>
<script src="{% if page.title == '404' %}https://jkoushik.me/{% endif %}assets/main.js"></script>
</body>
</html>
